h2 {color: brown;
    background-color: aqua;
}
h3{ color: cadetblue;
} 
p {color: chocolate;
}
.firstdiv{
    background-color: chartreuse;
}
#myparagraph{
    color: black;
}
div {
    background-color: black;
}
span {
    background-color: yellow;
}
h1{ color: aliceblue;

}
h4 {
    color: azure;
}
